@model IEnumerable<Art_Gallery.Models.Tbl_Report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Report</li>

    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Feedback
            <a href="../Report/Create" class="btn btn-info pull-right fa fa-plus">Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>

                            <th>Name</th>

                            

                            <th>Phone</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Image</th>
                            <th>Description</th>
                          

                            <th>Action</th>

                        </tr>
                    </thead>
                    @{ var counter = 0;}
                    <tbody>
                        @foreach (var item in Model)
                        {
                            counter = counter + 1;

                        <tr>
                            <td>@counter</td>
                            <td>@item.R_Name</td>

                            <td>@item.R_Phone</td>
                            <td>@item.R_Email</td>
                            <td>@item.R_Subject</td>
                            <td><img src="@Url.Content("~/Image/Report/"+item.R_File)" style="height:100px;width:100px;" /></td>

                            <td>@item.R_Dsc</td>


                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.R_Id, @class = "fa fa-user-edit" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.R_Id })
                            </td>


                        </tr>
                        }

                    </tbody>

                    <tfoot>
                        <tr>
                            <th>Sr. No.</th>

                            <th>Name</th>



                            <th>Phone</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Image</th>
                            <th>Description</th>


                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>