@model IEnumerable<Art_Gallery.Models.Tbl_Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Feedback</li>

    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Feedback
            <a href="../RF/Create" class="btn btn-info pull-right fa fa-plus">Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>

                            <th>Feedback Type</th>
                            <th>Description</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Username</th>
                         
                            <th>Action</th>

                        </tr>
                    </thead>
                    @{ var counter = 0;}
                    <tbody>
                        @foreach (var item in Model)
                        {
                            counter = counter + 1;

                            <tr>
                                <td>@counter</td>
                                <td>@item.F_Type</td>
                                <td>@item.F_DYF</td>
                                <td>@item.F_FirstName</td>
                                <td>@item.F_LastName</td>
                                <td>@item.F_Phone</td>
                                
                                <td>@item.F_Email</td>

                                <td>@item.F_UserName</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.F_Id, @class = "fa fa-user-edit" }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.F_Id })
                                </td>


                            </tr>
                        }

                    </tbody>

                    <tfoot>
                        <tr>
                            <th>Sr. No.</th>

                            <th>Feedback Type</th>
                            <th>Description</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Username</th>

                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>
